<form [formGroup]="formGroup"
      class="login-form"
      (input)="onFormChange()"
      (ngSubmit)="onSubmit()">
  <h2>Авторизация на сайте</h2>
  <mat-form-field class="login-form__input-control">
    <mat-label>Логин</mat-label>
    <input matInput formControlName="login">
    <mat-error *ngIf="formGroup.hasError('required', 'login')">Это поле обязательно</mat-error>
  </mat-form-field>

  <mat-form-field class="login-form__input-control">
    <mat-label>Пароль</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error *ngIf="formGroup.hasError('required', 'password')">Это поле обязательно</mat-error>
  </mat-form-field>

  <div class="login-form__input-control">
    <button mat-raised-button color="primary"
            [disabled]="disabled || formGroup.invalid || !!formError">Войти</button>
    <mat-error *ngIf="formError">{{formError}}</mat-error>
  </div>
</form>
